<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>PERFIL ADMINISTRADOR</h1>
        <p>NOMBRE: {{first_name}} {{last_name}}</p>
        <p>EMAIL: {{email}}</p>
        <p>AGE: {{age}}</p>
        <p>ROL: {{rol}}</p>
    </div>
    <div>
        <h2>LOGOUT</h2>
        <a href="/api/sessions/logout">Logout</a>
    </div>

    
</body>
 

